{% extends 'base.html.twig' %}

{% block title %}О проекте{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 class="text-center">Личная библиотека</h1>
                <p class="about-p">Назначение: проекте нужен для автоматизации контроля прочитанных книг.</p>
                <p class="about-p">Особенность: главной особенностью "Личной библиотеки" является хранение прочитанных
                    книг пользователей в удобном и стуктурированном виде.</p>
                <p class="about-p">Функционал проекта:</p>
                <p class="about-p">1) авторизация пользователей;</p>
                <p class="about-p">2) каждый пользователь может создавать, редактировать и удалять собственные книги;</p>
                <p class="about-p">3) авторизованные и неавторизованные пользователи могут просматривать все
                    существующие книги;</p>
                <p class="about-p">4) пользователь с правами администратора имеет возможность редактировать и удалять
                    все существующие книги</p>
                <p class="about-p">Описание страниц проекта:</p>
                <p class="about-p">На главной странице "Личная библиотека" выводятся все существующие книги
                    отсортированные по дате прочтения;</p>
                <p class="about-p">Для авторизованных пользователей на сайте отображаются страницы "Мои книги" и
                    "Создание книги". На странице "Мои книги" пользователю отображаются его книги и ссылки на
                    редактирование и удаление каждой книги. На странице "Создание книги" пользоватю предоставляется
                    возможность создать новую книгу.</p>
            </div>
        </div>
    </div>
{% endblock %}
